
.Header-containerf {
   
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    

  }
.span-f{
    color:rgb(8, 140, 223);
}

  .content-containerf {
    
    flex: 1;
    padding-right: 20px;
    margin-left: 80px;
  }
  .btn-f{
        width: 150px;
        height: 50px;
        background-color: navy;
        color: whitesmoke;
        font-size: 15px;
        border-radius: 10px;
        cursor: pointer;
  }
 
  .h1fit-f {
    margin: 0;

  }
  .h3-f{
    font-size: 40px;
  }

  .image-containerf {
   
    flex: 1;
    text-align: right;
  }

  .Header-imagef {
  
    width: 100%; 
    height: 800px;
    border-radius: 10px 10px 10px 10px; 
  }
  .p1-f{
    font-weight: 900;
  }
  /* Header.css */
.go-back-button {
    margin-top: 100px;
    margin-left: 30px;
   background: linear-gradient(to right, black, rgba(120, 109, 109, 0.5));

    border: none; 
    color: white; 
    padding: 10px 20px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 5px;
  }
  
  
  .go-back-button:hover {
    background-color: black;

  }
  