@import '~@fortawesome/fontawesome-free/css/all.css';

body {
  margin: 0;
  padding-top: 0;
   font-family: "Arial", sans-serif;
   background: linear-gradient(to right, black, rgba(120, 109, 109, 0.5));
  }
  

.fit {
  margin-top: 30px;
  background-color: #272727;
  width: 100%;
  height: 60px;
  padding: 10px;
}
  


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(28, 28, 28, 1);
  padding: 0 20px;
  color: rgba(255, 255, 255, 1);
  z-index: 1;
  border-bottom: 2px solid rgb(80, 74, 74); 
}

.nav-group {
  display: flex;
  margin-right: 20px;
 
}

.nav {
  margin-left: 40px;
  padding: 30px;
  color: beige;
  text-decoration: none;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 80px; 
  left: 0;
  height: 906px;
  width: 120px;
 
 

}

.side {
  padding-left: 15px;
 
}

.nutrition {
  margin-top: 50px;

}

.fitness {
  padding-top: 30px;
  
}

.article {
  margin-top: 50px;
}

 .image {
  border-radius: 10px;
  width: 35cm;
  height: 20cm;

}




.homepage {
  display: flex;
  flex-direction: column;
  padding-top: 85px; 
  margin-left: 125px; 
}


.videos-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr)); 
  gap: 20px;
  padding-top: 1cm;
 
 
}

.youtube-video-wrapper {
  border-radius: 10px; 
  overflow: hidden; 
  padding: 20px;
}

 @media (max-width: 768px) {
  .videos-container {
    grid-template-columns: 1fr; 
  }
} 



.flip-bx {
 
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  width: 355px;
  height: 400px;
  
}

.flip-bx .front,
    .flip-bx .back {
  background-size: cover;
  background-position: center;
  -webkit-transition: -webkit-transform .7s cubic-bezier(.4, .2, .2, 1);
  transition: -webkit-transform .7s cubic-bezier(.4, .2, .2, 1);
  -o-transition: transform .7s cubic-bezier(.4, .2, .2, 1);
  transition: transform .7s cubic-bezier(.4, .2, .2, 1);
  transition: transform .7s cubic-bezier(.4, .2, .2, 1), -webkit-transform .7s cubic-bezier(.4, .2, .2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  height: 100%;
  border-radius: 10px;
  color: #1e1e1e;
  padding: 40px;
}

.flip-bx .front {
  background: linear-gradient(40deg, rgb(187, 180, 180),rgb(32, 32, 34));
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  padding-right: 1cm;
  padding-left: 1cm;
  line-height: 1.7;
  font-size: 19px;
  letter-spacing: 1px;
}

.flip-bx .back .inner .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  grid-gap: 10px;
  font-size: 30px;
}

.flip-bx .back .inner .content span.position {
  font-size: 20px;
  letter-spacing: 8px;
  text-transform: uppercase;
}



.flip-bx .back {
  background: linear-gradient(45deg, #434344, #0f0d14);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  background-size: 200%
}

.flip-bx .back .inner {
  -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
  transform: translateY(-50%) translateZ(60px) scale(.94);
  top: 50%;
  position: absolute
}


.flip-bx .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d
}

.flip-bx .front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  opacity: .4;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 4px
}

.flip-bx .inner {
  -webkit-transform: translateZ(60px) scale(.94);
  transform: translateZ(60px) scale(.94);
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2
}

.flip-bx:hover .front,
    .flip-bx:hover .back {
  -webkit-transition: -webkit-transform .7s cubic-bezier(.4, .2, .2, 1);
  transition: -webkit-transform .7s cubic-bezier(.4, .2, .2, 1);
  -o-transition: transform .7s cubic-bezier(.4, .2, .2, 1);
  transition: transform .7s cubic-bezier(.4, .2, .2, 1);
  transition: transform .7s cubic-bezier(.4, .2, .2, 1), -webkit-transform .7s cubic-bezier(.4, .2, .2, 1)
}

.flip-bx:hover .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-bx:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d
}



.home-top {
  display: flex;
 
}

.image-container {
  margin-right: 20px; 
  margin-top: 5px;
}


.flip-box-container {
  margin-top: 1cm; 
  
}



.image-container {
  position: relative;
 
}


.image-hover-effect {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5cm;
  font-weight: bold;
  color: white;
  opacity: 0;
  transition: opacity 3s ease;
  text-align: center;
 
}

#source {
  margin-top: 84px ;
  width: 100%;
  max-height: 50vh; 
  object-fit: cover; 
}
#frame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2cm;
  padding-top: 40px;

}
#topic {
  text-align: center;
  color: #FBFBFB;
  position: relative;
  bottom: 10px;
  right: 800px;
}
.myArticle {
  
  width: 1000px;
  text-align: center;
  position: relative;
  left: 210px;
  padding: 80px;
}
.coverArticle{
  background-color: #272727;
  height: 560px;
  width: 1900px;
}
.optional {
  width: 680px;
  text-align: center;
  position: relative;
  left: 200px;
  top: 150px;
  height: 40px;
  border-radius: 10px;
  background-color:#FBFBFB;
  color: #272727;
  font-size: medium;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.articlePage{
  width: 1850px;
  background-color: #FBFBFB;
  height: 1800px;
  position: relative;
  bottom: 1530px;
  right: 290px;  
  
}
.fitFooter {
  background-color: #272727;
  height: 160px;
  padding: 3px;
  width: 100%;
  
}
#aboutme {
  color: white;
  text-align: center;
  position: relative;
  bottom: 60px;
  left: 790px;
  cursor: pointer;
}
#abouted {
  position: relative;
  left: 18px;
  cursor: pointer;
}
#myHeader {
  color: #FBFBFB;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 40px;
  right: 30px;
  font-size: xx-large;
}
#healthy {
  width: 400px;
  height: 260px;
  position: relative;
  top: 80px;
  left: 730px;
}
.image-hover-effect:hover .hover-text {
  opacity: 1;
}
#goback {
  background-color: #272727;
  color: #FBFBFB;
  padding: 9px 6px;
  border-radius: 5px;
  position: relative;
  right: 850px;
  margin-top: 20px;
}

/* Login css */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-login {
  border: 1px solid #ccc;
  padding: 90px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  background-color: #f5f5f5;
  border: none;
}

.form-login label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-login input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #bab9b9;
  border-radius: 4px;
}

.form-login button {
  width: 100%;
  padding: 15px;
  background: linear-gradient(to right, black, rgba(120, 109, 109, 0.5));

  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-login button:hover {
  background-color: #0056b3;
}

.form-login input:focus,
.form-login button:focus {
  outline: none;
}


/* Signup.css */
.form-containerr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
  
}

.form-signup {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 90px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  background-color: #f5f5f5;
  border: none;
 
}

.form-signup label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-signup input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-signup button {
  width: 100%;
  padding: 15px;
  background: linear-gradient(to right, black, rgba(120, 109, 109, 0.5));

  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-signup button:hover {
  background-color: #0056b3;
}

.form-signup button:active {
  background-color: #2c4463;
}

.form-signup button:focus {
  outline: none;
}

.error {
  color: #ff0000;
  margin-top: 5px;
}

.success {
  color: #008000;
  margin-top: 5px;
}
#nutritionimg {
  border-bottom-left-radius: 100px ;
  height: 390px;
}
.extraResources {
  margin-top: -120px;
}

.extraResources h2 {
  text-align: center;
  margin-bottom: 50px;
  text-decoration: underline;
}

.cardsContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.card {
  width: 300px;
  height: 400px;
  border: 2px solid white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
color: #fff;
}

.card img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.card button {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}


/* CSS */

.side a {

  text-decoration: none; 
  color: #fff;
  padding: 10px;
}

.side a:hover {
  
  background-color: #766e6e; 
  color: #000000; 
  border-radius: 5px;

}


/* Footer.css */
.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-content {
  flex: 1;
  max-width: 300px;
}

.footer-content h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.social-links {
  list-style: none;
  padding: 0;
  display: flex;
}

.social-links li {
  margin-right: 15px;
}

.social-links a {
  color: #fff;
  font-size: 30px;
  text-decoration: none;
}

.newsletter-form {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.newsletter-form input[type="email"] {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.newsletter-form button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}
/* YourComponent.css */

.statement {
 
  font-size: 1cm;
  font-weight: bolder;
  color: #fff;
  margin: 20px 0;
  /* Add any other styles you want */
}
.state{
  width: 100%;
  text-align: center;
  padding-top: 50px;
}
.bordered {
  border: 2px solid #e9e5e5;
  padding: 10px;
  
}